/* Billing */
.billing-section-title {
  width: 80px;
  letter-spacing: 6px;
  color: var(--darkGreen);
  margin: 40px auto;
}

.billing-container {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  padding: 24px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.standard-label {
  font-size: 14px;
  color: var(--darkGreen);
  margin-bottom: 4px;
  font-weight: 600;
}

.standard-input {
  color: var(--darkGreen);
  padding: 8px;
  font-size: 16px;
  text-align: right;
  font-weight: 600;
  background-color: var(--lightGreen);
  border: none;
  border-radius: 4px;
}

.standard-input-indicator {
  position: absolute;
  bottom: 8px;
  left: 12px;
  color: var(--darkGreen);
  font-weight: 600;
}

.tip-options-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

.tip-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  column-gap: 12px;
}

.tip-options button, .calculate-billing {
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
  border-radius: 4px;
  border: none;
  background-color: var(--darkGreen);
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.tip-options button.selected {
  background-color: var(--mediumGreen);
  color: var(--darkGreen);
}

.calculate-billing {
  width: 100%;
  margin-top: 24px;
}


/* Billing result */
.billing-result-container {
  margin-top: 24px;
  background-color: var(--darkGreen);
  padding: 24px;
  border-radius: 16px;
}

@media screen and (min-width: 768px) {
  .billing-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .billing-form {
    width: 50%;
  }
  .billing-result-container {
    width: calc(50% - 48px);
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .tip-options {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/* Billing history */
.billing-history-container {
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  padding: 24px 24px 24px 0px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  line-height: 1.5;
}

.billing-history-container li:first-child {
  margin-top: 0;
}

.billing-history-container li {
  margin-top: 16px;
  color: var(--darkGreen);
  font-size: 14px;
}


/* Billing stats */
.billing-subsection-title {
  text-align: center;
  margin-bottom: 28px;
  font-size: 22px;
  color: var(--darkGreen);
}

.billing-stats-container {
  margin-bottom: 28px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.billing-stats-container h3 {
  color: var(--white);
  font-size: 16px;
  padding: 16px;
}


@media screen and (min-width: 768px) {
  .billing-stats-container {
    flex-direction: row;
    gap: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .billing-history-container li {
    font-size: 16px;
  }
}